{% extends 'layout.html.twig' %}


{% block content %}
    <div class="container-fluid">
        <h1>Tickets</h1>

        {# total items count #}
        <div class="count">
        <span class="label label-primary">
            Entradas en total: {{ pagination.getTotalItemCount }}
        </span>
        </div>
        <br/>
        {{ knp_pagination_filter(pagination, {
            'c.matricula': 'Matricula',
            'c.matriculaRemolque': 'Remolque',
            'cDriver.nombreCamionero': 'Camionero',
            'em.nombreEmpresa': 'Empresa de Transporte',
            'cli.nombreEmpresa': 'Cliente',
            'o.nombreObra': 'Obra',
        }) }}
        <br/>
        <table class="table table-bordered">
            <tr>
                {# sorting of properties based on query components #}

                <th>
                    {{ knp_pagination_sortable(pagination, 'Matrícula', 'c.matricula') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Remolque', 'c.matriculaRemolque') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Camionero', 'cDriver.nombreCamionero') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Empresa de transporte', 'em.nombreEmpresa') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Cliente', 'cli.nombreEmpresa') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Obra', 'o.nombreObra') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Fecha', 'e.fecha') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Tara', 'e.tara') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Bruto', 'e.bruto') }}
                </th>
                <th>
                    <a href="#">Neto</a>
                </th>

                <th colspan="2">Acción</th>

            </tr>

            {# table body #}
            {% for entry in pagination %}

                <tr {% if loop.index is odd %}class="color"{% endif %}>

                    <td>{{ entry.camion }}</td>
                    <td>{{ entry.camion.matricularemolque }}</td>
                    <td>{{ entry.camionero }}</td>
                    <td>{{ entry.empresaTransporte }}</td>
                    <td>{{ entry.cliente }}</td>
                    <td>{{ entry.obra }}</td>
                    <td>{{ entry.fecha | date("H:i - m/d/Y")  }}</td>
                    <td>{{ entry.tara }}</td>
                    <td>{{ entry.bruto }}</td>
                    <td>{{ entry.bruto - entry.tara }}</td>
                    <td>
                        <a class="btn btn-info" href="{{ path('edit_ticket', {'ticket': entry.id}) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    </td>
                    <td>
                        <a class="btn btn-warning" href="{{ path('ticket_impreso', {'ticket': entry.id}) }}"><i class="fa fa-print" aria-hidden="true"></i></a>
                    </td>

                </tr>

            {% endfor %}
        </table>
        {# display navigation #}
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>

        <a href="{{ path('homepage') }}" class="btn btn-primary"><i class="fa fa-arrow-circle-o-left"></i> Atrás</a>
        <a href="{{ path('new_ticket') }}" class="btn btn-success"><i class="fa fa-plus"></i> Nuevo</a>
    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            $("button:first").html('Buscar')
        });
    </script>
{% endblock %}

