{% extends 'base.html.twig' %}

{% block title %}Cantera{% endblock %}

{% block body %}
    <div class="nav-side-menu">
        <a href="{{ path('homepage')  }}"> <div class="brand">HNS Moral</div> </a>
        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
        <div class="menu-list">
            <ul id="menu-content" class="menu-content collapse out">
                <li class="active">
                    <a href="{{ path('homepage')  }}">
                        <i class="fa fa-dashboard fa-lg"></i> Inicio
                    </a>
                </li>
                <li data-toggle="collapse" data-target="#products" class="collapsed">
                    <a href="#"><i class="fa fa-database fa-lg"></i> Gestión de datos <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="products">
                    <li><a href="{{ path('lorry_driver') }}">Camioneros</a></li>
                    <li><a href="{{ path('lorries') }}">Camiones</a></li>
                    <li><a href="{{ path('client') }}">Clientes</a></li>
                    <li><a href="{{ path('tcompanies') }}">Empresa de transporte</a></li>
                    <li><a href="{{ path('works') }}">Obras</a></li>
                    <li><a href="#">Materiales</a></li>
                </ul>
                <li data-toggle="collapse" data-target="#service" class="collapsed">
                    <a href="#"><i class="fa fa-sticky-note fa-lg"></i> Ver stock <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="service">
                    <li>Palets</li>
                    <li>Sacas</li>
                </ul>


                <li>
                    <a href="#">
                        <i class="fa fa-truck fa-lg"></i> Tickets
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-file fa-lg"></i> Hacer informes
                    </a>
                </li>

            </ul>
        </div>
    </div>

    <div class="container" id="main">
    {% block content %}

    {% endblock %}
    </div>

{% endblock %}