{% extends 'layout.html.twig' %}


{% block content %}
    <div class="container-fluid">
        <h1>Material</h1>

        {# total items count #}
        <div class="count">
        <span class="label label-primary">
            Entradas en total: {{ pagination.getTotalItemCount }}
        </span>
        </div>
        <br/>
        {{ knp_pagination_filter(pagination, {
            'e.nombre': 'Nombre',

        }) }}
        <br/>
        <table class="table table-bordered">
            <tr>
                {# sorting of properties based on query components #}

                <th>
                    {{ knp_pagination_sortable(pagination, 'Nombre del material', 'e.nombre') }}
                </th>

                <th>Acción</th>

            </tr>

            {# table body #}
            {% for entry in pagination %}

                <tr {% if loop.index is odd %}class="color"{% endif %}>

                    <td>{{ entry.nombre }}</td>
                    <td> <a class="btn btn-info" href="{{ path('edit_material', {'material': entry.id}) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </a></td>

                </tr>

            {% endfor %}
        </table>
        {# display navigation #}
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>

        <a href="{{ path('homepage') }}" class="btn btn-primary"><i class="fa fa-arrow-circle-o-left"></i> Atrás</a>
        <a href="{{ path('new_material') }}" class="btn btn-success"><i class="fa fa-plus"></i> Nuevo</a>
    </div>

{% endblock %}

{% block stylesheets %}
    <style>
        .inputCustom {
            width: 140px;
            display: inline-block;

        }
    </style>
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            $("button:first").html('Buscar').addClass('btn btn-default');
            $("input:first").addClass('form-control inputCustom');
        });
    </script>
{% endblock %}

